@media (max-width: 575px){
    .menu{
        position: static;
    }
    .menu a{
        width: 100%;
        padding: 20px 0;
    }
    .header{
        padding: 100px 10px;
        margin-top: 0px;
        background-size: cover;
        background-position: center center;
        min-height: 300px;
    }
    #about{
        padding: 10px 10px;
    }
    #about p{
        text-align: justify;
    }
    #about img{
        text-align: center;
        float: none;
        margin: 0;
    }
    .member{
        display: block;
        width: 85%;
    }
    #team{
        width: 100%;
    }
    .tarif{
        width: 95%;
        display: block;
    }
}